# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mariusz Ciesla
	email = mariusz@dotmariusz.net

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	pr = pull --rebase
	pu = pull
	p = push
	pom = push origin master
	rc = rebase --continue
	rs = rebase --skip
	ra = rebase --abort
	ls = ls-files
	df = diff
	dc = diff --cached
[push]
	default = simple
[core]
	excludesfile = /Users/mariusz/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
	autoStash = true
